@import 'tailwindcss';

.custom-scroll-y {
  max-height: 300px; /* ou a altura que você quiser */
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #888 #0f172a; /* indicador / fundo */
}

/* Chrome, Edge e Safari */
.custom-scroll-y::-webkit-scrollbar {
  width: 8px; /* largura da barra */
}

.custom-scroll-y::-webkit-scrollbar-track {
  background: #f0f0f0; /* fundo */
  border-radius: 4px;
}

.custom-scroll-y::-webkit-scrollbar-thumb {
  background-color: #888; /* indicador */
  border-radius: 4px;
  border: 2px solid #f0f0f0; /* dá um espaçamento sutil */
}

.custom-scroll-y::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* efeito hover */
}

.hide-scroll-x {
  overflow-x: scroll; /* mantém a rolagem funcional */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.hide-scroll-x::-webkit-scrollbar {
  display: none; /* Chrome, Safari e Edge */
}
